 /*.header{                                     
     width:960px;                          
     margin-left: auto;                    
     margin-right: auto;                   
     margin-top:30px;                      
     margin-bottom:30px;                   
 }    */                                     
 .daohang{                                    
     background-color:#333333;             
     position: relative;                   
     font-size: 16px;                      
 }
 .nav{
  margin:0px;
  cursor: pointer;
 }                                         
 .nav > li{                                
     display: inline-block;                
     position: relative;                   
 }                                         
 .nav > li > a{                            
     padding-top:15px;                    
     padding-bottom:15px;                 
     padding-left: 2em;                    
     padding-right: 2em;                   
     text-decoration:none;                 
 }                                         
 .nav > li:hover > a{                      
     background-color:#FFF;     
     color:rgb(0, 0, 0);                   
 }                                         
 .nav a{                                   
     color:#f5f5f5;                        
     display: block;                       
     text-decoration: none;                
 }                                         
 .nav  ul{                                 
     display: none;                        
     position:fixed;                    
     background-color:transparent;         
 }                                         
 .nav  ul li{                              
     position:relative;                    
 }                                         
 .nav  ul li + li{                         
     border-top: 1px solid rgb(70, 70, 70);
 }                                         
                                           
 .nav > li:hover > ul{                     
     display: block;                       
     padding-top: 0.4em;                   
 }                                         
 .nav > li > ul > li > a{                  
     padding-top:0.4em;                    
     padding-bottom:0.4em;                 
     width: 10em;                          
     padding-left: 1em;                    
     padding-right: 1em;                   
     background-color: rgb(50, 50, 50);    
 }                                         
 .nav > li > ul > li:hover > a{            
     background-color:#FFF;     
     color:rgb(0, 0, 0);                   
 }                                                                                